<nav>
<img src="/imagenes/logo.png" alt="" height="180px">
</nav>
<div class="contenido">
<p>Selecciona una opción</p>
<div class="opciones">

    <div class="opcion">
        <img src="/imagenes/Pacientes.jpg" alt="" height="180px"> <br>
        <a href="/pacientes">Listar pacientes</a>
    </div>

    <div class="opcion">
        <img src="/imagenes/doctores.jpg" alt="" height="180px"> <br>
        <a href="/medicos">Listar medicos</a>
    </div>
    <div class="opcion">
        <img src="/imagenes/citas.jpg" alt="" height="180px"> <br>
        <a href="/citas" >Solicitar cita</a>
    </div>
</div>
</div>
